<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MoviesBox</title>
    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <!-- styling -->
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <header>
      <a href="" class="logo">MoviesBox</a>
      <ul class="nav">
        <li>
          <a href="/"><i class="fa fa-home" aria-hidden="true"></i></a>
        </li>
        <li><a href="/movies">Movies</a></li>
        <li><a href="/tv-shows">TV Shows</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
      <div class="search">
        <input type="text" placeholder="Search" />
        <i class="fa fa-search" aria-hidden="true"></i>
      </div>
    </header>
    <div class="banner">
      <div class="content active">
        <!-- Mengambil gambar judul dari database -->
        <img
          src="<%= movies[0].logo_url %>"
          alt="Movie Title"
          class="movie-title"
          id="movie_title_img"
        />
        <h4>
          <span id="release_year"><%= movies[0].release_year %></span>
          <span id="parental"
            ><i><%= movies[0].parental_rating || '13+' %></i></span
          >
          <span id="duration">
            <% const hours = Math.floor(movies[0].duration / 60); %> <% const
            minutes = movies[0].duration % 60; %> <%= `${hours}h ${minutes}m` %>
          </span>
          <span id="genres"><%= movies[0].genres %></span>
        </h4>
        <p id="sinopsis"><%= movies[0].sinopsis %></p>
        <div class="buttons">
          <a href="/watch/<%= movies[0].movie_id %>"
            ><i class="fa fa-play" aria-hidden="true"></i> Watch</a
          >
          <a href="#"
            ><i class="fa fa-plus-square" aria-hidden="true"></i> My List</a
          >
        </div>
      </div>
      <div class="carousel-box">
        <div class="carousel">
          <% movies.slice(0,8).forEach((movie, index) => { %>
          <div class="carousel-item" data-movie-id="<%= movie.movie_id %>">
            <a
              href="javascript:void(0)"
              class="movie-poster"
              data-title-img="<%= movie.logo_url %>"
              data-background-img="<%= movie.background_url %>"
              data-release-year="<%= movie.release_year %>"
              data-parental="<%= movie.parental_rating || '13+' %>"
              data-duration="<%= movie.duration %>"
              data-genres="<%= movie.genres %>"
              data-sinopsis="<%= movie.sinopsis %>"
              data-trailer-url="<%= movie.trailer_url %>"
            >
              <img src="<%= movie.posters_url %>" alt="<%= movie.title %>" />
            </a>
          </div>
          <% }); %>
        </div>
      </div>
      <a href="" class="play">
        <i class="fa fa-play-circle-o" aria-hidden="true"></i>Whatch Trailer
      </a>
      <ul class="sci">
        <li>
          <a href="https://github.com/HOSEKI7" target="_blank"
            ><i class="fa fa-github"></i
          ></a>
          <a href="https://www.linkedin.com/in/farid-zahran/" target="_blank"
            ><i class="fa fa-linkedin"></i
          ></a>
          <a href="https://www.instagram.com/faridzahran__/" target="_blank"
            ><i class="fa fa-instagram"></i
          ></a>
          <a href="https://www.youtube.com/@HOSEKIII" target="_blank"
            ><i class="fa fa-youtube"></i
          ></a>
        </li>
      </ul>
    </div>
    <!-- jquery -->
    <script
      src="https://code.jquery.com/jquery-3.7.1.js"
      integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
      crossorigin="anonymous"
    ></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- index.js -->
    <script src="/js/index.js"></script>
  </body>
</html>
